.HomeWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  margin: 0;
}

.Home {
  background-image: url('../../assets/home/background-home-desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  .Home {
  background-image: url('../../assets/home/background-home-tablet.jpg');
}
}

@media (max-width: 440px) {
    .Home {
  background-image: url('../../assets/home/background-home-mobile.jpg');
}

}

