.DestinationWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  margin: 0;
}

.Destination {
  background-image: url('../../assets/destination/background-destination-desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.Destination > h1 {
  position: absolute;
  margin: 0;
  margin-top: 212px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 4.72px;
  color: #ffff;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
}

.Destination > h1 > span {
  margin-right: 28px;
  opacity: 0.4;
  font-weight: 700;
}

.DestinationBack {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 310px;
}

.DestinationGroup {
  display: flex;
  justify-content: space-between;
  max-width: 1247px;
  min-width: 1000px;
}

.DestinationGroup > img {
  width: 445px;
  height: 445px;
}

.DestinationInfoBack {
  max-width: 445px;
}

@media (max-width: 1050px) {
  .Destination {
    background-image: url('../../assets/destination/background-destination-tablet.jpg');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .Destination > h1 {
    margin-top: 136px;
    font-size: 28px;
    letter-spacing: 4.72px;
  }
  .DestinationBack {
    padding-top: 220px;
  }
  .DestinationGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
  }
  .DestinationInfoBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 573px;
    height: 400px;
  }
  .DestinationGroup > img {
    width: 300px;
    height: 300px;
    margin-bottom: 53px;
  }
}

@media (max-width: 440px) {
  .Destination {
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Destination > h1 {
    margin-top: 88px;
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .DestinationBack {
    padding-top: 139px;
  }

  .DestinationInfoBack {
    height: auto;
  }
  .DestinationGroup > img {
    width: 170px;
    height: 170px;
    margin-bottom: 26px;
  }
}
