.DestinationNavigationWrapper {
  width: 95%;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 37px;
}

.DestinationNavLinks {
  height: 100%;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1050px) {
  .DestinationNavigationWrapper {
    margin-bottom: 32px;
    max-width: 285px;
  }
}

@media (max-width: 440px) {
  .DestinationNavigationWrapper {
    margin-bottom: 20px;
  }
  .DestinationNavLinks {
    font-size: 14px;
  }
}
